In [3]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [4]:
import os
os.listdir('data/')

['test.csv', 'train.csv']

In [5]:
titanic_train = pd.read_csv('data/train.csv')

In [1]:
def load_data_prepare_x(path):
    data = pd.read_csv(path)
    
    numeric_columns = data[['SibSp','Parch','Fare','Pclass']]
    dummy_data = pd.get_dummies(data[['Sex','Embarked']])
    
    x = numeric_columns.join(dummy_data)
    return x

In [4]:
load_data_prepare_x('data/train.csv')

,SibSp,Parch,Fare,Pclass,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,1,0,7.2500,3,0,1,0,0,1
1,1,0,71.2833,1,1,0,1,0,0
2,0,0,7.9250,3,1,0,0,0,1
3,1,0,53.1000,1,1,0,0,0,1
4,0,0,8.0500,3,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
886,0,0,13.0000,2,0,1,0,0,1
887,0,0,30.0000,1,1,0,0,0,1
888,1,2,23.4500,3,1,0,0,0,1
889,0,0,30.0000,1,0,1,1,0,0
890,0,0,7.7500,3,0,1,0,1,0

In [27]:
sc = StandardScaler()
x_scaled = sc.fit_transform(x)

In [28]:
x_scaled

array([[ 0.43279337, -0.47367361, -0.50244517, ..., -0.48204268,
        -0.30756234,  0.61930636],
       [ 0.43279337, -0.47367361,  0.78684529, ...,  2.0745051 ,
        -0.30756234, -1.61470971],
       [-0.4745452 , -0.47367361, -0.48885426, ..., -0.48204268,
        -0.30756234,  0.61930636],
       ...,
       [ 0.43279337,  2.00893337, -0.17626324, ..., -0.48204268,
        -0.30756234,  0.61930636],
       [-0.4745452 , -0.47367361, -0.04438104, ...,  2.0745051 ,
        -0.30756234, -1.61470971],
       [-0.4745452 , -0.47367361, -0.49237783, ..., -0.48204268,
         3.25137334, -1.61470971]])